<div class="dont-select color-trans titlebar">
    <div class="titlebarMove">
    </div>
    <div class="minimise" ng-click="ctrl.minimiseWindow()">-</span></div>
    <div class="close" ng-click="ctrl.closeWindow()">X</span></div>    
</div>