<div>
    <loading ng-show="waiting"></loading>
    <div ng-hide="waiting">
        <div style="margin: 10px; margin-top: 30px;">
            <button type="button" class="btn btn-info" ng-click="back()"><span class="fas fa-less-than"></span> Back</button>
        </div>
        <div style="margin: 10px; text-align: center;">
            <div style="float: left; width: 20%;">
                <img class="card-img-top" src="{{appPath}}/chip-icons/{{chipData.id}}.png">
                <h5 class="text-primary">{{pins}}</h5>
            </div>
            <div>
                <table class="table" style="float: right; width: 70%;">
                    <thead>
                        <tr>
                            <th>Field</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in chipData" ng-hide="key == 'image' || key == 'pins'">
                            <td>{{key | capitalize}}</td>
                            <td>{{value | capitalize}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>