body {
    background-color: #e5e5e5;
    overflow: hidden;
    font-family: SegoeUI;
}

.dont-select {
    -webkit-user-select: none;
}

.opacity-zero {
    opacity: 0;
}

.opacity-half {
    opacity: .5;
}

.opacity-half-more {
    opacity: .8;
}

.opacity-one {
    opacity: 1;
}

.opacity-trans {
    transition: opacity .5s;
}

.opacity-trans-slow {
    transition: opacity 1s;
}

.color-trans {
    transition: background-color 1s;
}

.center-horizontal {
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
}

img {
    display:block;
}

.version {
    font-size: 12px;
    position: absolute;
    bottom: -15px;
    right: 2px;
    color: #c5b7b7;
}

.titlebar {
    /* -webkit-app-region: drag; */
    background-color: #cccccc;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.titlebarMove {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    position: absolute;
    width: 90%;
    height: 25px;
}

.minimise {
    position: absolute;
    right: 25;
    top: -1;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

.minimise:hover {
    color: orange;
}

.close {
    position: absolute;
    right: 8;
    top: 6;
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
    opacity: 1;
    cursor: pointer;
}

.close:hover {
    color: red;
    text-emphasis: none;
    text-decoration: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.loading {
    width: 100%;
    height: 100%;
    background: rgb(0,0,0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 998;
}

.searchComSpinner {
    width: 300;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    animation: spinner-border 3s linear infinite;
}

.searchComText {
    position: absolute;
    width: 237;
    left: calc(50% - 118px);
    top: calc(50% + 70px);
}

.detectChipBtn {
    position: absolute;
    width: 150;
    height: 50;
    top: calc(50% - 25px);
    left: calc(50% - 75px);
}

.skipCom {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    left: 10;
    cursor: pointer;
    font-weight: bold;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Light"),
        url(./webfonts/light/latest.woff2) format("woff2"),
        url(./webfonts/light/latest.woff) format("woff"),
        url(./webfonts/light/latest.ttf) format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semilight"),
        url(./webfonts/similight/latest.woff2) format("woff2"),
        url(./webfonts/similight/latest.woff) format("woff"),
        url(./webfonts/similight/latest.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI"),
        url(./webfonts/normal/latest.woff2) format("woff2"),
        url(./webfonts/normal/latest.woff) format("woff"),
        url(./webfonts/normal/latest.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Bold"),
        url(./webfonts/bold/latest.woff2) format("woff2"),
        url(./webfonts/bold/latest.woff) format("woff"),
        url(./webfonts/bold/latest.ttf) format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(./webfonts/simibold/latest.woff2) format("woff2"),
        url(./webfonts/simibold/latest.woff) format("woff"),
        url(./webfonts/simibold/latest.ttf) format("truetype");
    font-weight: 700;
}