<div>
    <loading ng-show="waiting"></loading>
    <div ng-hide="waiting" style="margin: 10px; margin-top: 30px;">
        <button type="button" class="btn btn-primary" ng-click="back()"><span class="fas fa-less-than"></span> Back</button>
        <button type="button" class="btn btn-primary" ng-click="loadBackup()"><span class="fas fa-folder-open"></span> Load Backup</button>
        <button type="button" class="btn btn-primary" ng-click="saveBackup()"><span class="fas fa-save"></span> Save Backup</button>
        <button type="button" class="btn btn-primary" ng-click="writeData()" ng-disabled="disableWrite"><span class="fas fa-pencil-alt"></span> Write</button>
        <label><input type="checkbox" ng-model="advancedEnabled">Advanced</label>
    </div>
    <div ng-hide="waiting" style="margin: 10px; height: calc(100% - 100px); overflow-y: auto;">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{dataLoctions[0].field}}</td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="dataLoctions[0].advanced && !advancedEnabled">
                              {{getOptionsValue(dataLoctions[0])}}
                            </button>
                            <div class="dropdown-menu" style="height: 200px; overflow-y: auto;">
                              <a class="dropdown-item" style="cursor: pointer;" ng-repeat="(key, value) in dataLoctions[0].options" ng-click="dataLoctions[0].value = key; changeNavi(value)">{{value}}</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[1].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[1].value" ng-change="changeValues(dataLoctions[1])" ng-disabled="dataLoctions[1].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[2].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[2].value" ng-change="changeValues(dataLoctions[2])" ng-disabled="dataLoctions[2].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[3].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[3].value" ng-change="changeValues(dataLoctions[3])" ng-disabled="dataLoctions[3].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[4].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[4].value" ng-change="changeValues(dataLoctions[4])" ng-disabled="dataLoctions[4].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[5].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[5].value" ng-change="changeValues(dataLoctions[5])" ng-disabled="dataLoctions[5].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[6].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[6].value" ng-change="changeValues(dataLoctions[6])" ng-disabled="dataLoctions[6].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[7].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[7].value" ng-change="changeValues(dataLoctions[7])" ng-disabled="dataLoctions[7].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[8].field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-model="dataLoctions[8].value" ng-change="changeValues(dataLoctions[8])" ng-disabled="dataLoctions[8].advanced && !advancedEnabled">
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[9].field}}</td>
                    <td>
                        <div ng-show="dataLoctions[9].type == 'image' && !waiting">
                            <img class="card-img-top" style="width: 128px;" ng-src="{{appPath}}/images/{{dataLoctions[9].fileName}}.jpeg" >
                            <button class="btn btn-primary" ng-click="changeImage(dataLoctions[9].field)" ng-disabled="dataLoctions[9].advanced && !advancedEnabled">Choose Image</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[10].field}}</td>
                    <td>
                        <div ng-show="dataLoctions[10].type == 'image' && !waiting">
                            <img class="card-img-top" style="width: 128px;" ng-src="{{appPath}}/images/{{dataLoctions[10].fileName}}.jpeg" >
                            <button class="btn btn-primary" ng-click="changeImage(dataLoctions[10].field)" ng-disabled="dataLoctions[10].advanced && !advancedEnabled">Choose Image</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[11].field}}</td>
                    <td>
                        <div ng-show="dataLoctions[11].type == 'image' && !waiting">
                            <img class="card-img-top" style="width: 128px;" ng-src="{{appPath}}/images/{{dataLoctions[11].fileName}}.jpeg" >
                            <button class="btn btn-primary" ng-click="changeImage(dataLoctions[11].field)" ng-disabled="dataLoctions[11].advanced && !advancedEnabled">Choose Image</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{dataLoctions[12].field}}</td>
                    <td>
                        <div ng-show="dataLoctions[12].type == 'image' && !waiting">
                            <img class="card-img-top" style="width: 128px;" ng-src="{{appPath}}/images/{{dataLoctions[12].fileName}}.jpeg" >
                            <button class="btn btn-primary" ng-click="changeImage(dataLoctions[12].field)" ng-disabled="dataLoctions[12].advanced && !advancedEnabled">Choose Image</button>
                        </div>
                    </td>
                </tr>
                <!-- <tr ng-repeat="location in dataLoctions">
                    <td>{{location.field}}</td>
                    <td>
                        <input type="text" class="form-control" ng-show="location.type != 'dropdown' && location.type != 'image' && !waiting" ng-model="location.value" ng-change="changeValues(location)" ng-disabled="location.advanced && !advancedEnabled">
                        <div class="dropdown" ng-show="location.type == 'dropdown' && !waiting">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="location.advanced && !advancedEnabled">
                              {{getOptionsValue(location)}}
                            </button>
                            <div class="dropdown-menu" style="height: 200px; overflow-y: auto;">
                              <a class="dropdown-item" style="cursor: pointer;" ng-repeat="(key, value) in location.options" ng-click="location.value = key; changeValues(location)">{{value}}</a>
                            </div>
                        </div>
                        <div ng-show="location.type == 'image' && !waiting">
                            <img class="card-img-top" style="width: 128px;" ng-src="{{appPath}}/images/{{location.fileName}}.jpeg" >
                            <button class="btn btn-primary" ng-click="changeImage(location.field)" ng-disabled="location.advanced && !advancedEnabled">Choose Image</button>
                        </div>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>
</div>

<!-- The Modal -->
