<div style="padding-top: 30px; padding-left: 10px;">
    <button type="button" class="btn btn-primary detectChipBtn" ng-click="detectChip()">Detect Chip</button>
    <loading ng-show="waiting"></loading>
</div>